
#n{
    color: white;
}
#image{
    height: 500px;
    width: 500px;

}
button{
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    font-style: italic;
    font-size:15px;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    
}
